<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TensorFlow 1 Image Processing</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js" ></script>
</head>
<body>
    <h1>TensorFlow 1 Image Processing</h1>
    <form >
        <input type="file" id="file" name="file"><br><br>
        <input type="button" id="submit" onclick="submit();" value="Upload">
    </form>
    
    <!-- {% if result_img %}
        <h2>Result:</h2>
        <img src="data:image/jpeg;base64,{{ result_img }}" />
    {% endif %} -->
    <script type="text/javascript" src="home.js">
       
      
    </script>
</body>
</html>
